<?$Content?>

<h1><?page_title?>Dokumentacja<?/?></h1>

<?seo_descr?>Przeczytaj wprowadzenie do Agile Toolkit, przeglądaj przykłady, screen casty lub zacznij czytać dokumentację api<?/?>

<?seo_keywords?>dokumentacja api, przykłądy kodu php, interaktywne wprowadzenie, screen casty, php, przykładowy projekt, społeczność<?/?>

<div id="getting-started-description">
<p>
Agile Toolkit to wydajny framework webowy napisany w PHP5. Bazuje on na zorientowanym obiektowo interfejsie użytkownika,
przez co jest prosty w użyciu, modyfikacji oraz ponownym wykorzystaniu. Agile Toolkit idealnie nadaje się zarówno dla
aplikacji komercyjnych jak i open source, wymagających zunifikowanego interfejsu użytkownika oraz dynamicznego podejścia
do tworzenia aplikacji.
</p>
 <a href="<?page?>intro/start<?/?>" class="button purple" >Rozpocznij interaktywną prezentację</a>
</div>
<div id="getting-started-core">
	<i class="big-icon icon-core"></i>
	<p>
    Zatrudnij firmę lub programistę do napisania Twojej aplikacji. Sprawdź kto tworzy projekty rozszerzenia lub
    tematy graficzne dla Agile Toolkit.
    </p>
    <p><a href="http://www.agiletech.ie/">Rozwiązania komercyjne</a></p>
    
   
</div>

<div class="hr"></div>

<div id="getting-started-shortcuts">

	<div class="box blue-noised" id="getting_started">
		<i class="big-icon icon-book"></i>
		<h2>Nauka Agile Toolkit</h2>
        <p>
        Uzbrojony w kopię świeżo pobranego Agile Toolkit, jesteś o krok od utworzenia swojego pierwszego projektu www.
        Nie przejmuj się jeśli nie stworzyłeś wcześniej żadnego projektu. Dzięki Agile Toolkit w kilka minut stworzysz
        własną aplikację. Jedyne czego potrzebujesz to edytor tekstowy oraz serwer (najlepiej w postaci stosu Apache +
        MySQL + PHP).
        </p>
		<p>
            Poniżej znajdziesz wszystkie niezbędne informacje do rozpoczęcia pracy z Agile Toolkit:
        </p>
        <p>
        <a href="<?page?>doc/learn<?/?>" class="button green">Szybki Start</a>
        <a href="<?page?>doc/sc<?/?>" class="button green" >Screencasty</a>
        <a href="<?page?>doc/jobeet<?/?>" class="button green" >Dziesięciodniowy tutorial</a>
        <a href="<?page?>doc/question<?/?>" class="button green" >Zadaj pytanie</a>
        <a href="<?page?>doc/project/colubris<?/?>" class="button green" >Projekty Colubris</a>
        </p>
	</div>



	<div class="box blue-noised" id="community">
		<i class="big-icon icon-community"></i>
		<h2>Społczność</h2>
		<div>
			<p>
                Wierzymy, iż nowoczesne rozwiązania webowe będą tworzone przez społeczności zarówno komercyjne jak i
                open source. Naszym celem jest dostarczenie Tobie niezbędnych podstaw, na bazie których będziesz w stanie
                tworzyć projekty komercyjne oraz open source. Poza samym frameworkiem, stworzyliśmy również kilka dodatków.
                Jeśli masz ciekawy pomysł, napisz do nas, a my w ciągu kilku tygodni przekujemy go w działający kod.
                Wiele osób tak zrobiło, więc nie zwlekaj i podziel się <a href="/develop/getinvolved.html">wiedzą,
                doświadczeniem oraz uwagami</a>
            </p>
			<p>
                Agile Toolkit jest popularny w sektorze MŚP oraz wśród startupów. Zależy nam aby wasz projekt odniósł
                sukces, dlatego zachęcamy różne firmy do współpracy we współtworzeniu i integrowaniu rozwiążań online.
                Będzie to o wiele prostsze, jeśli zaczniemy korzystać z tego samego rozwiązania. Jeśli tworzysz lub masz
                zamiar stworzyć aplikację przy pomocy Agile Toolkit, daj nam znać, zaoferujemy Tobie
                <a href="/commercial/">korzystne warunki</a>.
            </p>
		</div>
	</div>

	<div class="box blue-noised" id="update">
		<i class="big-icon icon-re-use"></i>
		<h2>Bądź na czasie</h2>
		<div>
			<p>
                Ekipa odpowiedzialna za Agile Toolkit jest obecna w wielu serwisach społczenościowych, dzięki czemu
                łatwiej się z nami skontaktować. Jeśli jesteś programistą - obserwuj repozytorium na Githubie.
                Inne sposoby kontaktu znajdziesz na dole każdej strony lub na stronie
                <a href="/develop/getinvolved.html">zaangażuj się</a>.
            </p>
		</div>
	</div>

</div>
