<?$Content?>

<div class="g-row" id="doc-ref">
	<div class="g-6">
        <p>
            Dokumnetacja Agile Toolkit została przygotowana w postaci drzewiastej struktury. Zawiera ona trzy główne
            sekcje: Wstęp, Przewodniki, Manual. W jakiej sekcji aktualnie się znajdujesz, dowiesz się ze "ścieżki
            okruszków", czyli ścieżki pokazującej dokładną drogę od "początku dokumentacji", do bieżącej strony. W
            chwili obecnej znajdzuesz się w sekcji "Przewodniki".
        </p>

        <h3>Wstęp &rarr; Przewodniki &rarr; Manual</h3>
        <p>
            Celem pierwszej sekcji jest wprowadzenie Ciebie do świata Agile Toolkit. Dzięki niej poznasz filozofię
            działania frameworka.
        </p>

        <p>
            Sekcja Przewodniki, ta w której aktualnie się znajdujesz, zawiera uszeregowane materiały prezentujące
            możliwości Agile Toolkit.
        </p>
        <p>
            Ostatnią sekcją jest Manual, czyli opis szczegółowy opis struktury Agile Toolkit oraz klas wchodzących w
            jego skład.
        </p>


    </div>
	<div class="g-6">
		<div class="ref-item box blue-noised">
			<b>Poznawanie Agile Toolkit</b>
			<p>Aby rozpocząć wybierz sekcję</p>
            <?$toc?>
        </div>
    </div>
</div>
